*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.hpp
!*.cc
!.gitignore
!.scalafmt.conf
!.mill-version
!build.sc
!README.md
!decode.ipynb
!decode.csv
!single_cycle.circ
build/
vsrc/

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
